date.timezone = {{ default .Env.PHP_DATE_TIMEZONE "UTC" }}
memory_limit = {{ default .Env.PHP_MEMORY_LIMIT "256M" }}
max_execution_time = {{ default .Env.PHP_MAX_EXECUTION_TIME "300" }}
max_input_vars = {{ default .Env.PHP_MAX_INPUT_VARS "10000" }}
post_max_size = {{ default .Env.PHP_POST_MAX_SIZE "100M" }}
upload_max_filesize = {{ default .Env.PHP_UPLOAD_MAX_FILESIZE "100M" }}
sendmail_path=/usr/bin/msmtp -t
